.post_up {
  border-bottom: 1px solid var(--light_gray_border);
}

.post_company {
  display: flex;
  align-items: center;
}

.post_company > h1 {
  font-size: 1rem;
  color: var(--dark_cyan);
}

.company_new,
.company_featured {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: .36rem .6rem;
  border-radius: .7rem;
}

.company_new {
  background-color: var(--dark_cyan);
  margin-left: 1.5rem;
}

.company_featured {
  background-color: black;
  margin-left: .55rem;
}

.post_position {
  font-size: .668rem;
  font-weight: 700;
  color: var(--very_dark_grayish_cyan);
  margin-top: .8rem;
}

.post_details {
  height: 50%;
  display: inline-flex;
  align-items: center;
}

.post_details > li {
  font-size: 1.1rem;
  color: var(--dark_grayish_cyan);
  margin-right: 1.55rem;
}

.post_details > li:first-of-type {
  list-style: none;
}

.post_details > li:last-of-type > span {
  position: relative;
  left: -3px
}