.post_down {
	display: flex;
	flex-wrap: wrap;
	padding-top: 1.8rem;
	gap: 1.1rem;
}

.post_role {
	text-align: center;
	font-size: 1.05rem;
	font-weight: 700;
	background-color: var(--light_grayish_cyan);
	color: var(--dark_cyan);
	padding: 0.5rem 0.6rem;
	border-radius: 0.2rem;
	cursor: pointer;
}

@media screen and (min-width: 769px) {
	.post_down {
		width: 50%;
		padding: 0 0.38rem 0 0;
		justify-content: flex-end;
	}

	.post_down .post_role:hover {
		background-color: var(--dark_cyan);
		color: white;
	}
}
